<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Bootstrap CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title></title>
  </head>
  <body>

<div class="container">
  <header>
    <nav>
      <ul class='nav nav-tabs'>
        <li><a href='/'>Back to All Cheerups</a></li>
        <li><a href='cheerups/new'>Add a New Cheerup</a></li>
        <li><a href="/users/new">Register</a></li>
        <li><a href="/sessions/new">Sign In</a></li>
        <li><a href='/users'>View All Users</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h1>Cheerups!</h1>

    <% for (var i=0; i<allCheerups.length; i++) { %>
      <div class='col-sm-6 col-md-4'>
        <div class="thumbnail">
          <a href="cheerups/<%=allCheerups[i]._id%>">
            <% if (allCheerups[i].visualmedia) { %>
              <img src="<%=allCheerups[i].visualmedia%>" alt=""/>
            <% } else { %>
              <p><%=allCheerups[i].body%></p>
            <% } %>
          </a>
          <% if (allCheerups[i].visualmedia) { %>
            <p><%=allCheerups[i].body%></p>
          <% } else { %>
          <% } %>
        </div>
      </div>
    <% } %>
  </main>


</div>




  </body>
</html>
