<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Bootstrap CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title></title>
  </head>
  <body>

<div class="container">
  <header>
    <nav>
      <ul class='nav nav-tabs'>
        <li><a href='/'>Home</a></li>
      </ul>
    </nav>
  </header>

  <h1>Create a New Cheerup</h1>

  <div class="form-group">
    <form class="" action="/cheerups" method="POST">
      <select class="form-control" name="userId">
        <option>Select a User</option>
        <% for (var i=0; i<allUsers.length; i++) { %>
          <% if (currentUser.username == allUsers[i].username) { %>
            <option value="<%=allUsers[i]._id%>"><%=currentUser.username%></option>
          <% } %>

        <% } %>
      </select>
      <input class='form-control' type="text" name="visualmedia" value="Image, gif, or video URL">
      <input class='form-control' type="text" name="body" value="Text" maxlength='139'>
      <input class='form-control' type="text" name="keywords" value="#Keywords">
      <input type="submit" value="Create Me!">
    </form>

  </div>
</div>

  </body>
</html>
