<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Bootstrap CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title></title>
  </head>
  <body>
    <div class="container">
      <header>
        <nav>
          <ul>
            <li><a href='/cheerups'>Go Home</a></li>
          </ul>
        </nav>
      </header>
      <main>
        <h1><%=user.username%></h1>
        <% for (var i=0; i<user.cheerupPage.length; i++) { %>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="<%=user.cheerupPage[i].visualmedia%>"/>
            </div>
          </div>
        <% } %>

      </main>

    </div>

  </body>
</html>
